<!-- WITHOUT OVERLAY -->
<mat-card style="margin: 0px;">
  <div style="position:absolute;top:6%;left:3%">
    <!-- <span [style.color]="changeColor !== 'none' ? changeColor : '#AEC2E2'"></span> -->
    <mcc-color-picker [usedColorLabel]="'Ma sélection'" [usedColorStart]="usedStart" [colorPickerSelectorHeight]="140" class="mcc-cp-small"
      [usedSizeColors]="'7'" (change)="changeColor = $event" (selected)="selectedColor = $event">
    </mcc-color-picker>
  </div>
  <img mat-card-image src="./assets/img/casa_test.png" alt="Photo" [style.background-color]="changeColor">
</mat-card>
